<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="LogFileTarget" xsi:type="File" fileName="app.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=tostring}" archiveFileName="logs/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" encoding="windows-1251" KeepFileOpen="False" />
      <target name="LogFileError" xsi:type="File" fileName="logs/err.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} [${level}] ${message} ${exception:format=tostring} " archiveFileName="logs/err.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="true" encoding="windows-1251" KeepFileOpen="False" />
    </targets>
    <rules>
      <logger name="*" levels="Debug,Error,Trace,Fatal,Info,Warn" writeTo="LogFileTarget" />
      <logger name="*" levels="Error,Fatal" writeTo="LogFileError" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>